.cards-list {
    max-height: 400px;
    min-height: 300px;
    overflow-y: scroll;
  li {
    margin: 8px 0;
    cursor: pointer;
  }
  .card {
    padding: 8px 4px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 #091e4240;
  }
}
