@import "../../../assets/variables";

.dropdown {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;

  &--items {
    background: #ffffff;
    border: 2px solid #f3f3f3;
    position: absolute;
    left: 30%;
    bottom: -5px;
    transform: translate(-50%, 100%);

    li {
      display: flex;
      width: 100%;
      padding: 8px;

      border: 1px #f3f3f3 solid;
      cursor: pointer;
      color: #000000;

      &:hover {
        color: #43a0f6;
      }
      &:first-child {
        border-bottom: none;
      }
    }
  }
}
