@import "../../../assets/variables";

.basic-button {
  width: 100%;
  padding: 8px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border: unset;
  color: $black;
  background: $btn-background;
  cursor: pointer;


  &:hover {
    // background-color: darken($btn-background, 5%);
    background-color: $btn-background-hover;
    color: #fff;
  }

  &:focus {
    background-color: darken($btn-background-hover, 10%);
    color: #fff;
  }

  @media (min-width: $sm) {
    width: unset;
  }

  @media (min-width: $xl) {
    padding: 12px 30px;

    font-size: 12px;
    line-height: 16px;
  }
}
